.myTextarea {
    display: block;
    padding: 15px 30px;
    border-radius: var(--border-radius);
    font-size: var(--regular-font-size);
    border: 1px solid rgba(var(--gray-rgb), 1);
    resize: none;
}

.myTextareaInput {
    display: block;
    margin-bottom: 10px;
}