/*
Импорт шрифта
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

/*
Стили обнуления и подключение шрифта
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Calibri, sans-serif;
    font-weight: 600;
}

/*
Основные переменные
*/

:root {
    /*
    Цвета
    */
    --violet-rgb: 73, 69, 231;
    --green-rgb: 0, 188, 109;
    --red-rgb: 227, 24, 73;
    --gray-rgb: 190, 190, 190;

    /*
    Отступы
    */
    --big-margin: 60px;
    --wrapper-padding: 40px;
    --blocks-margin: 30px;
    --inner-blocks-margin: 20px;

    /*
    Скругление
    */
    --border-radius: 8px;

    /*
    Размеры шрифта
    */
    --regular-font-size: 16px;
    --header-font-size: 24px;
    --small-font-size: 14px;
    --smallest-font-size: 14px;
    --big-font-size: 48px;
}

/*
Тексты
*/

* {
    font-size: var(--regular-font-size);
    color: black;
    text-decoration: none;
}

h1 {
    font-size: var(--big-font-size);
    margin: 15px 0;
}

h2 {
    font-size: var(--header-font-size);
}

h2.page-header {
    margin-bottom: var(--inner-blocks-margin);
}

.colored {
    color: rgba(var(--violet-rgb), 1);
}

.colored-red {
    color: rgba(var(--red-rgb, 1));
}

.small {
    font-size: var(--small-font-size);
}

.pointer {
    cursor: pointer;
}

.muted {
    font-weight: 400;
    font-size: var(--small-font-size);
    color: rgba(0, 0, 0, 1);
}

.small-muted {
    font-weight: 400;
    font-size: var(--smallest-font-size);
    color: rgba(0, 0, 0, 1);
}

/*
Классы контейнеров и др разметки
*/

.container {
    padding: 0 var(--wrapper-padding);
}

.dashboard {
    padding-top: var(--big-margin);
}

.centered-container {
    margin: 100px auto;
    padding: 0 var(--wrapper-padding);
    max-width: 580px;
}

.centered-container-buttons {
    display: flex;
    justify-content: center;
    gap: var(--inner-blocks-margin);
    margin-top: var(--inner-blocks-margin);
}

.centered-container-header {
    text-align: center;
    margin-bottom: var(--big-margin);
}

.text-center {
    text-align: center;
}